/* ESTILO DE FOOTER */
  
footer{
  
    
    bottom: 0;
    width: 100%;
    height: 10vh;
  
  
  
  
  .pie {
  
    font-family: "space";
    align-items: center;
    color: antiquewhite;
    margin-bottom: 5vh;
    text-align: center;
    grid-area: pie;
  
  
  }
}