   
  /* ESTILOS DE HEADER index-quienes somos?-Nuestras naves */
header {
    height: 30vh;
    width:100% ;
    div #headerindex {
        height: 20vh;
    }
}

.container-fluid { 

             
             .nav-link{
              font-family: 'space' !important;
              color: white !important;
              align-content: center ;
            }

          }
  
   
   
   
   
   
   
   