 /* ESTILOS DE Main de Quienes somos?  */
  

  
    .quienessomos {

    align-content: center;
    color: antiquewhite;
    font-size:small;
    font-family: "space";
    border-style: double;

   } 




 /* ESTILOS DE Main de Nuestras Naves  */

.container {
  .navedetail {
    border-style: ridge;
    border-color: aliceblue;
  
  .textnaves {
    font-family: 'space' !important;
    color: white !important;
  }

  .nombrenave {

   
    font-size:large;
     transform: rotate(270deg);
     height: auto;
     width:auto;
     text-orientation:sideways-right !important;
     
 
   }
}
}
















    

 
    
  
  
  
  
  
  